
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $brown;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

///////////////////////////////////////
// GLOBAL CODE
///////////////////////////////////////
.no-display {
    display: none;
}

///////////////////////////////////////
// SENDER CODE
///////////////////////////////////////

.player-section {
    margin-bottom: 85px;
}

// styling the credits (for icons/etc)
.credits {
    font-size: 8px;
}

// styling the bowling ball
#bowling_ball {
    stroke: 2px solid white;

}

.control-cast {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.add-player-control {
    padding: 1em 0;
}

.field {
    position: relative;
    display: block;
    padding-left: 2em;
    input.astronaut {
        // width: unset;
        // margin-left: 1.3em;
        //width: calc(100% - 1.2em);
    }
    .astro-icon {
        position: absolute;
        left: 0.2em;
        top: .8em;
        width: 1.3em;
        height: 1.3em;
    }
    

}

///////////////////////////////////////
// RECEIVER CODE
///////////////////////////////////////