// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
// Update Bulma's global variables
$family-sans-serif: "Nunito",
sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $brown;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
///////////////////////////////////////
// GLOBAL CODE
///////////////////////////////////////
.no-display {
    display: none;
}

.full-width {
    width: 100%;
}

// MODALZ CODE YAY
#modals-container {
    padding: 0 4em;
}

///////////////////////////////////////
// CREDITS PAGE
///////////////////////////////////////
// from sender page
.linkto-credits {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 8px;
    text-decoration: underline;
    opacity: 0.8;
    font-size: 0.6em;
}

.built-with {
    li:before {
        //content: "\266b";
        content: '\2022 ';
        position: relative;
        left: -0.5em;
        font-family: "Nunito", Arial, Helvetica, sans-serif;
    }
} ///////////////////////////////////////
// SENDER CODE 
///////////////////////////////////////
.player-section {
    margin-bottom: 85px;
} // styling the credits (for icons/etc)
.credits {
    font-size: 8px;
}

.control-cast {
    position: fixed;
    bottom: 0;
    width: 100%;
    .rocketicon {
        width: auto;
        height: 1em;
        padding-left: 0.8em;
    }
}

.add-player-control {
    padding: 1em 0;
}

.field {
    position: relative;
    display: block;
    padding-left: 2em;
    .bullet-icon {
        position: absolute;
        left: 0.2em;
        top: .8em;
        width: 1.3em;
        height: 1.3em;
    }
}

.game-status-bar,
#cast-stop,
.gameplay-controls {
    display: none;
}

.gameplay-controls {
    padding: 100px 0 200px 0;
    text-align: center;
    height: 100vh;
    vertical-align: middle; // styling the bowling ball
    .bowling-ball-wrapper {
        width: 100%;
        height: 100%;
        #bowling-ball {
            width: 65vw;
            height: auto;
            top: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.gameplay--on {
    .control-cast {
        top: 0;
        bottom: unset;
    }
    .able-header {
        // we want a smaller header during the game and we need some control over the parts displaying the player and score
        font-size: 0.8em;
        display: none;
    }
    .gameplay--off {
        display: none;
    }
    section.game-status-bar {
        display: block;
        bottom: 0;
        position: absolute;
        width: 100%;
        .player,
        .score,
        .turn {
            display: block;
            font-weight: 600;
        }
        #score-value,
        #player-name,
        #turn-value {
            display: inline-flex;
            font-weight: 200
        }
    }
    .gameplay-controls,
    #cast-stop {
        display: block;
    }
} ///////////////////////////////////////
// RECEIVER CODE
///////////////////////////////////////
.canvas-wrapper {
    height: 100vh;
    width: 100vw;
}